/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/* LAYOUT */
.app {
    height: 100vh;
    background: dodgerblue;
    display: flex;
    flex-direction: column;
}

/* MAIN WINDOW */
.main-window {
    display: flex;
    flex-grow: 1;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 240px;
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    flex-grow: 1;
    background: #000;
}

.sidebar-top img {
    margin-top: 20px;
    width: 175px;
    margin-left: 20px;
    cursor: pointer;
}

.logo-1 img {
    width: 30px;
    margin-top: 30px;
}

.logo-1 a {
    margin-left: 15px;
    color: #363636;
    text-decoration: none;
}

.logo-2 img{
    width: 30px;
    display: flex;
    margin-left: 22px;
    margin-top: 10px;
}

.logo-2 a {
    margin-left: 70px;
    color: #363636;
    text-decoration: none;
}

.logo-3 img {
    width: 30px;
    display: flex;
    margin-left: 24px;
    margin-top: 2px;
}

.logo-3 a {
    margin-left: 70px;
    color: #363636;
    text-decoration: none;
}

.logo-1:hover,
.logo-2:hover,
.logo-3:hover {
   transition: .4s;
}

.sidebar-top .title {
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar-top .fa-plus {
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    color: #000;
    display: flex;
    justify-content: center;
}

.fa-plus {
    background: #999999;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.sidebar-top .sub-title  {
    color: #363636; 
    margin-left: 65px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-weight: 600;
    line-height: 2px;
}

.sidebar-top a:hover, 
.sub-title:hover {
    color: #fff;
    transition: .1s;
}

.menu li {
    margin-top: 25px;
    margin-left: 15px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #363636;
}

.menu li a:hover {
    color: #fff;
    transition: .1s;
}

.sidebar-bottom {
    height: 80px; /* debug */
    background: #000;
}

.fa-arrow-circle-down {
    color: #363636;
    margin-left: 20px;
}

.fa-arrow-circle-down:hover {
    color: #fff;
    transition: .1s;
    cursor: pointer;
}

.sidebar-bottom .download {
    margin-left: 10px;
    color: #363636;
    text-decoration: none;
}

.sidebar-bottom .download:hover {
    color: #fff;
    transition: .1s;
}

.line {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;
}

.sidebar-bottom img {
    width: 25px;
    background: #7f7f7f;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.sidebar-bottom span {
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

/* CONTENT */
.content {
    position: relative;
    flex-grow: 1;
    background: #444;
}

/* TOP BAR */
.content-top-bar {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 90px; /* debug */;
    background: #080b11;
    z-index: 1;
}

.content-top-bar button {
    background: #080b11;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 14px 30px;
    margin-left: 88%;
    margin-top: 20px;
    color: #fff;
    transition: 0.3s,
                transform 0.3s;
}

.content-top-bar button:hover {
    transform: scale(1.2);
}

/* SCROLLABLE */
.content .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
    background: #141921;
    padding: 90px 15px 30px; 
} 

/* CONTENT MENU */
.content-menu {
    height: 80px; /* debug */;
    background: #141921;
    margin-top: 25px;
}

.content-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.content-menu li .section-1, 
.content-menu li .section-2, 
.content-menu li .section-3, 
.content-menu li .section-4, 
.content-menu li .section-5, 
.content-menu li .section-6 {
    text-transform: uppercase;
    color: #4a4d53;
    text-decoration: none;
    margin-top: 40px;
}

.content-menu li .section-1 {
    padding-left: 600px;
}

.content-menu li .section-2,
.content-menu li .section-3,
.content-menu li .section-4,
.content-menu li .section-5,
.content-menu li .section-6 {
    padding-left: 20px;
}

.content-menu li .section-1:hover, 
.content-menu li .section-2:hover,
.content-menu li .section-3:hover,
.content-menu li .section-4:hover,
.content-menu li .section-5:hover,
.content-menu li .section-6:hover {
    color: #fff;
    transition: .1s;
}

/* CONTENT CATEGORY */
.content-category-1, 
.content-category-2, 
.content-category-3 {
    /* height: 400px; */
    margin-bottom: 30px;
}

.content-category-2 h2 {
   margin-top: 110px;
}

.content-category-3 h2 {
   margin-top: 80px;
}

.content-category-2 p,
.content-category-3 p {
    margin-top: 10px;
}

/* ALBUM */
.album-list-1, 
.album-list-2, 
.album-list-3 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    cursor: pointer;
}

.album-list-1 .album,
.album-list-2 .album, 
.album-list-3 .album-1, .album-2 {
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    height: 300px; /* debug */
}

.album-list-1 .album,
.album-list-2 .album,
.album-list-3 .album-1, .album-2 {
    margin-top: 30px;
}

.album-list-1 .album h3,
.album-list-2 .album h3 {
    margin-top: 18px;
    text-align: center;
}

.album-list-3 .album-1 h3 {
    margin-top: 18px;
    margin-left: 91px;
}

.album-list-3 .album-2 h3 {
    margin-top: 18px;
    margin-left: 76px;
}

.album-list-3 .album-1 img {
    border-radius: 160px;
}

.album-list-3 .album-2 img {
    height: 300px;
    border-radius: 160px;
}

.album-list-1 .album .sub-title-1 {
    color: #4a4d54;
    margin-left: 124px;
    margin-top: 6px;
}

.album-list-1 .album .sub-title-2 {
    color: #4a4d54;
    margin-left: 58px;
    margin-top: 6px;
}

.album-list-1 .album .sub-title-3 {
    color: #4a4d54;
    margin-left: 128px;
    margin-top: 6px;
}

.album-list-1 .album .sub-title-4 {
    color: #4a4d54;
    margin-left: 126px;
    margin-top: 6px;
}

.album-list-1 .album .sub-title-5 {
    color: #4a4d54;
    margin-left: 129px;
    margin-top: 6px;
}

.album-list-1 .album .sub-title-6 {
    color: #4a4d54;
    margin-left: 127px;
    margin-top: 6px;
}

/* PLAYER */
.player {
    display: flex;
    justify-content: space-between;
    background: #272727;
}

.player-album,
.player-controller,
.player-audio {
    height: 110px; /* debug */
}

/* ALBUM */
.player-album {
    flex-basis: 240px;
}

.player-album img {
    width: 50px;
    margin-left: 12px;
    margin-top: 10px;
    cursor: pointer;
}

.player-album h3 {
    margin-left: 74px;
    margin-top: -42px;
    cursor: pointer;
}

.player-album p {
    margin-left: 74px;
    margin-top: 5px;
    color: #4a4d54;
    cursor: pointer;
}

.player-album .text-2 {
    margin-left: 122px;
    margin-top: -17px;
    color: #4a4d54;
    cursor: pointer;
}

.fa-heart {
    color: #4a4d54;
    margin-left: 210px;
    line-height: 1px;
}

.fa-heart:hover,
.fa-folder:hover {
    color: #fff;
    transition: .1s;
    cursor: pointer;
}

.fa-folder {
    color: #4a4d54;
    margin-left: 250px;
    line-height: 1px;
}

/* CONTROLLER */
.player-controller {
    flex-basis: 40%;
}

.fa-random {
    font-size: 18px;
    margin-left: 318px;
    margin-top: 25px;
    cursor: pointer;
}

.fa-step-backward,
.fa-redo-alt {
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}

.fa-play-circle {
    font-size: 35px;
    margin-left: 30px;
    cursor: pointer;
}

.fa-step-forward {
    font-size: 18px;
    margin-left: 28px;
    cursor: pointer;
}

.player-controller h6 {
    color: #afafaf;
    margin-left: 10px;
    margin-top: 18px;
}

.player-controller .line-1 {
    width: 80%;
    margin-left: 80px;
    border: 4px solid #535353;
    border-radius: 5px;
    margin-top: -9px;
    cursor: pointer;
}

.player-controller .line-2 {
    width: 16%;
    margin-left: 80px;
    border: 4px solid #bababa;
    border-radius: 5px;
    margin-top: -7px;
}

.player-controller .num-2 {
    color: #afafaf;
    margin-left: 826px;
    margin-top: -9px;
}

/* AUDIO */
.player-audio {
    flex-basis: 240px;
}

.fa-list-ul {
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
}

.fa-desktop,
.fa-volume-up {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.player-audio .line-1 {
    width: 40%;
    margin-left: 132px;
    border: 4px solid #535353;
    border-radius: 5px;
    margin-top: -14px;
    cursor: pointer;
}

.player-audio .line-2 {
    width: 14%;
    margin-left: 132px;
    border: 4px solid #bababa;
    border-radius: 5px;
    margin-top: -7px;
    cursor: pointer;
}
